* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 5px;
  background-color: #f3f3f3;
}

h1, p, h2, h3, h4, h5, h6, a, textarea, option{
  letter-spacing: 5px;
}

section {
  display: flex;
  background-color: #f3f3f3;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 10px 0 50px 0;
  overflow: hidden;
}

#sectionLogin{
  height: auto !important;
  min-height: 100vh !important;
}

.flexLeft {
  display: flex;
  justify-content: flex-start;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.flexRight {
  display: flex;
  justify-content: flex-end;
}

button{
  cursor: pointer;
}

svg {
  height: 1.5em;
}

.active{
  text-decoration: underline;
  text-underline-offset: 10px;
}

#sectionHome{
  background-color: #111111;
}

#sectionSupport{
  height: 70vh;
}

#sectionFooter{
  position: relative;
  background-color: #111111;
  height: 30vh;
  z-index: 99;
}

.arrows{
  z-index: 100;
  display: none;
}

.navBG{
  display: none;
  width: 100%;
  background-color: #f3f3f3;
}

.nav{
  text-transform: uppercase;
}

.avatar{
  display: none;
}

.navBlack{
  display: none;
}

.navBlack a{
  color: #ffffff !important;
}

.navBlack svg{
  fill: #ffffff !important;
}

.navbarPhone {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbarPhone .menu-items {
  display: flex;
  overflow: scroll;
}

.navbarPhone .nav-container li {
  list-style: none;
  font-weight: 500;
  font-size: 32px !important;
  padding: 0.7rem;
  color: #f3f3f3;
}

.navbarPhone .nav-container h1{
  margin-top: 2vh;
  margin-bottom: 1vh;
  color: #f3f3f3;
}

.navbarPhone .nav-container a {
  text-decoration: none;
  color: #f3f3f3;
  font-weight: 500;
  font-size: 32px;
  padding: 0.7rem;
}

.navbarPhone .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .navPhoneCheckbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line-white {
  background: #f3f3f3 !important;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #111111;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbarPhone .menu-items {
  padding-top: 120px;
  box-shadow: inset 2000px 2000px 2000px rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbarPhone .menu-items li {
  margin-bottom: 1.6rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

.nav-container form{
  margin-bottom:5vh;
}

.nav-container .searchInput{
  display: block;
  width: 90%;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: #f3f3f3;
  color: #111111;
  margin: auto;
}

.nav-container .searchInput-white{
  background-color: #f3f3f3;
  color: #111111;
}

.destaque {
  position: relative;
  height: 100vh;
}

.circle {
  position: absolute;
  width: 70vw;
  height: 70vw;
  border: 15px solid #ffffff; /* Define uma linha de contorno ao redor do círculo */
  border-radius: 50%; /* Torna o elemento um círculo */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(1.5px);
  z-index: 1;
}

.circle::before,
.circle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.circle::before {
  box-shadow: 0 0 25px 25px #f1f5fe; /* Brilho para fora */
}

.circle::after {
  box-shadow: 0 0 25px 5px #f1f5fe inset; /* Brilho para dentro */
}

.destaqueImg {
  width: 70vw;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.destaqueImg::before,
.destaqueImg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.socials {
  height: 5vh;
  fill: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.socials svg {
  margin-left: 30px;
}

.title{
  padding-top: 15vh;
  color: #111111;
  padding-bottom: 25px;
}

.title h1 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/* .content{
  height: 100%;
} */

.brands{
  height: 60vh;
}

.brandscolumns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  white-space: nowrap;

  height: 100%;
  width: 100%;
}

.brandsRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;

  cursor: grab;
  overflow: auto;
  white-space: nowrap;
}

.brands img{
  width: 100%;
  height: 10vh;
  object-fit: contain;
  object-position: 50% 50%;
  cursor: pointer;

  margin-right: 10vh;
}

.newArrivals, .favProducts{
  height: 60vh;
}

.newArrivalsInfo, .favProductsInfo{
  display: flex;
  flex-direction: row;
  cursor: grab;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}

.newArrivalsInfo::-webkit-scrollbar, .favProductsInfo::-webkit-scrollbar, .categoriasList::-webkit-scrollbar,
 .brandscolumns::-webkit-scrollbar, .brandsRow::-webkit-scrollbar {
  display: none;
}

.newArrivalsBox{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.newArrivalsBox a{
  color: #111111;
  text-decoration: none;
}

.newArrivals img{
  margin-right: 20px;
  width: auto;
  height: 95%;
  flex-shrink: 0;
  object-fit:cover;
  object-position: 50% 50%;
}

.favProducts img{
  margin-right: 20px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit:cover;
  object-position: 50% 50%;
}

.paginations form{
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  border: none;
  color: #111111;
}

.paginations button{
  width: 30%;
  height: 100%;
  background-color: #111111;
  border: none;
  color: #f3f3f3;
  font-weight: 600;
  text-transform: uppercase;
}

.paginations select{
  width: 70%;
  height: 100%;
  background-color: #f3f3f3;
  border: 1px solid #111111;
  color: #111111;
}

.paginations select:focus{
  background-color: #111111;
  border: 1px solid #f3f3f3;
  color: #f3f3f3;
}

.filters{
  text-transform: uppercase;
  margin-bottom: 20px;
}

.filtersOpenbtn{
  cursor: pointer;
}

.products{
  padding-top: 150px;
}

.categorias{
  width: 100%;
  height: 10vh;
  margin-bottom: 50px;
}

.categoriasList{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  cursor: grab;
  overflow: auto;
  white-space: nowrap;
}

.categoriasList p{
  color: #f3f3f3;
  font-size: 48px;
  margin-right: 50px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #111111;
  user-select: none;
}

.product{
  margin-bottom: 30px;
}

.product img{
  height: 50vh;
  width: 100%;
  object-fit: cover;	
  object-position: 50% 50%;
}

.productLink a{
  text-decoration: none;
  color: #111111;
}

.product .productInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product .productInfo h3{
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.content form{
  display: flex;
  flex-direction: column;
}

.content form input{
  padding: 10px;
  height: 5vh;
  margin-bottom: 3vh;
}

.content form textarea{
  padding: 10px;
  height: 20vh;
  margin-bottom: 3vh;
  resize: none;
}

.content form button{
  padding: 10px;
  height: 5vh;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #111;
  border: 1px solid #f3f3f3;
  color: #f3f3f3;
}

.content form input::placeholder, .content form textarea::placeholder{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.arrowsWhite{
  display: none;
}

.arrowsWhite svg{
  fill: #f3f3f3 !important;
}

footer{
  color: #f3f3f3;
  height: 100%;
}

footer span{
  text-decoration: underline;
  cursor: pointer;
}

footer img{
  width: 65px;
  height: 65px;
  object-fit: cover;
  object-position: 50% 50%;
}

footer .newslleter{
  height: 10vh;
  font-weight: bold;
}

footer .newslleter p{
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

footer form{
  display: flex;
  flex-direction: row;
}

footer form input, footer form button{
  border: 1px solid #f3f3f3;
  height: 3.5vh;
  font-size: 12px;
}

footer form input{
  padding-left: 10px;
  color: #f3f3f3;
  background-color: #111111;
  width: 70%;
}

footer form input::placeholder{
  color: #f3f3f3;
  font-weight: bold;
}

footer form button{
  width: 30%;
  text-align: center;
  background-color: #f3f3f3;
  font-weight: bold;
}

footer .socials{
  height: 4vh;
  margin-bottom: 4vh;
}

footer .copyright{
  height: 5vh;
  font-size: 12px;
  text-align: center;
}

footer .copyright p{
  margin-top: 5px;
}


/* Login */

.login{
  margin-top: 2.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form h1{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 60px;
}

.login form label{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}

.login form input{
  width: 100%;
  height: 50px;
  margin-bottom: 35px;	
  padding: 10px;
}

.login form button{
  width: 100%;
  height: 75px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  background-color: #111111;
  color: #f3f3f3;
  border: none;
  margin-bottom: 30px;
  letter-spacing: 5px;
}

.login form .goToSignup{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.login form .goToSignup p{
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  opacity: 70%;
}

.login form .goToSignup a{
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
  color: #111111;
  cursor: pointer;
}

.login form .rememberMe{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.login form .rememberMe input{
  width: 20%;
  height: 30px;
}

.login form .rememberMe label{
  width: 80%;
  font-size: 16px;
  margin-bottom: 30px;
}

.loginExtraOp{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.registerExtraOp{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}

.registerExtraOp p{
  width: 70%;
}

.registerExtraOp svg{
  fill: #111111;
}

.produto{
  margin-top: 15vh;
  margin-bottom: 5vh;
}

/* .prodImgs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

.prodImgs img{
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 65vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.prodInfo h1{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 50px;
}

.prodInfoTitle{
  width: 80%;
}

.prodInfo p{
  font-size: 20px;
}

.prodInfo .prodPrice{
  font-weight: bold;
  margin-bottom: 20px;
}

.prodInfo hr{
  border: 2px solid #111111;
  margin-bottom: 10px;
}

.prodInfo .prodDescript{
  margin-bottom: 20px;
  text-align: justify;
}

.prodInfo .colors{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.prodInfo .colors p{
  margin-bottom: 10px;
}

.colorBox{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease;
}

.colorBox:hover{
  border: 2px solid #111111;
}

.colorActive{
  border: 2px solid #111111;
}

.prodInfo .sizes{
  margin-bottom: 50px;
}

.prodInfo .sizes p{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.prodInfo .sizes .size{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.prodInfo .sizes .sizeBoxSpace{
  width: auto;
  padding: 0 5%;
}

.prodInfo .sizes .sizeBoxSpace a{
  color: #111111;
  text-decoration: none;
}

.prodInfo .sizes .size .sizeBox{
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border: 2px solid #111111;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.prodInfo .sizes .size .sizeBox:hover{
  color: #f3f3f3;
  background-color: #111111;
}

.sizeActive{
  color: #f3f3f3;
  background-color: #111111;
}

.sizeOut{
  border: 2px solid #ED2939 !important;
  cursor: default !important;
}

.sizeOut:hover{
  background-color: #ED2939 !important;
}

.prodInfo .prodButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.prodInfo .prodButtons .addCartBtn{
  width: 60%;
  height: 75px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #111111;
  color: #f3f3f3;
  border: 1px solid #111111;
  letter-spacing: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.prodInfo .prodButtons .addCartBtn:hover{
  border: 1px solid #3BB143;
  background-color: #3BB143;
}

.prodInfo .prodButtons .addCartBtnDisabled{
  background-color: #ED2939 !important;
  border: 1px solid #ED2939 !important;
}

.prodInfo .prodButtons .favForm{
  width: 30%;
  height: 75px;
}

.prodInfo .prodButtons .favBtn{
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  border: 1px solid #111111;
  cursor: pointer;
  transition: all 0.2s ease;
}

.prodInfo .prodButtons .favBtnActive{
  border: 1px solid #ED2939;
  background-color: #ED2939 !important;
}

.prodInfo .prodButtons .favBtn svg{
  height: 3em;
  transition: all 0.2s ease;
}

.prodInfo .prodButtons .favBtn:hover{
  background-color: #111111;
}

.prodInfo .prodButtons .favBtn:hover svg{
  fill: #f3f3f3;
}

.prodComments{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.prodComments hr{
  width: 100%;
}

.commentCreate{
  margin-top: 30px;
  width: 100%;
}

.commentCreate form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.commentCreate form textarea{
  width: 100%;
  height: 100px;
  margin-bottom: 0;
  padding: 10px;
  letter-spacing: 1px;
  resize: none;
}

.commentCreate form button{
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: #111111;
  color: #f3f3f3;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.commentCreate form button:hover{
  background-color: #252525;
}

.commentBox{
  width: 100%;
  height: auto;
  margin: 10px 0px;
}

.commentUserInfo{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.commentUserInfo img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
  margin-right: 10px;
}

.commentUserInfo h3{
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.commentBox p {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-size: 16px;
}

.commentDelete{
  margin-left: auto;
}

.commentDelete svg{
  cursor: pointer;
  transition: all 0.2s ease;
}

.commentDelete button{
  border: none;
}

/* Profile - Style */
.userInfo{
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.userInfo .userAvatar{
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  cursor: pointer;
}

.userInfo .userAvatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}

.userInfo .userName h1{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.userInfo .userDate p{
  font-size: 16px;
  letter-spacing: 1px;
}

.favorites hr{
  border: 1px solid #111111;
  margin-bottom: 30px;
}

.favorites h1{
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.orders h1{
  margin-top: 70px;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1vh;
}

.orders .orderList{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
}

.orders .orderList .orderBox{
  width: 100%;
  border: 1px solid #111111;
  margin-bottom: 1vh;
}

.orders .orderList .orderBox .orderBoxStats{
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #111111;
  color: #f3f3f3;
}

.orders .orderList .orderBox .orderBoxStats h3, .orders .orderList .orderBox .orderBoxStats p{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin: 1vh;
}

.orders .orderList .orderBox .orderBoxStats p{
  color: #DCD7D3;
}

.orders .orderList .orderBox .orderBoxContent{
  height: 100vh;
}

.orders .orderList .orderBox .orderBoxContent .orderProds{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
}

.orders .orderList .orderBox .orderBoxContent .orderBoxContentImage{
  margin-right: 0;
  width: 100%;
  height: 100%;
}

.orders .orderList .orderBox .orderBoxContent .orderBoxContentImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.orders .orderList .orderBox .orderBoxContent .orderBoxContentInfo{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orders .orderList .orderBox .orderBoxContent .orderBoxContentInfo .orderProdInfos{
  display: flex;
  flex-direction: column;
}

.orders .orderList .orderBox .orderBoxContent .orderBoxContentInfo h3,
.orders .orderList .orderBox .orderBoxContent .orderBoxContentInfo p{
  margin-bottom: 15px;
}

.orderBox .orderFooter{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(222, 217, 214, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  color: #111111;
  text-align: right;
  padding: 10px 30px;
}

.orderBox .orderFooter .orderFooterInfo p{
  font-size: 16px;
}

.orderBox .orderFooter .orderFooterInfo h3{
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}


.orderBox .orderFooter .orderFooterBtn{
  width: 100%;
  height: 50px;
}

.orderBox .orderFooter .orderFooterBtn button{
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #111111;
  color: #f3f3f3;
  border: 1px solid #111111;
  letter-spacing: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.orderBox .orderFooter .orderFooterBtn button:hover{
  border: 1px solid #ED2939;
  background-color: #ED2939;
}


/* Edit Profile - Editar Perfil */

.editProfile{
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.settingsMenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: auto;
  margin-bottom: 30px;
}

.settingsOption{
  margin-bottom: 30px;
}

.settingsOption a{
  text-decoration: none;
  color: #111111;
}

.settingsOption h1{
  font-size: 18px;
  font-weight: bold;
  max-width: 100%;
}

.optionActive {
  position: relative;
  display: inline-block;
}

.optionActive::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px; /* ajuste conforme necessário */
  width: 100%;
  height: 3px;
  background-color: currentColor; /* usa a cor do texto como cor de fundo */
  border-radius: 10px; /* ajuste conforme necessário */
}

.editProfileForm{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.editProfileForm h1{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.editProfileForm .editProfileImg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.editProfileForm .editProfileImg input{
  display: none;
}

.editProfileForm .editProfileImg img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
  cursor: pointer;
}

.editProfileForm  .editProfileInfos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;	
}

.editProfileForm  .editProfileInfos label{
  font-size: 20px;
  margin-bottom: 10px;
}

.editProfileForm  .editProfileInfos input{
  width: 100%;
  height: 50px;
  border: 1px solid #111111;
  background-color: #f3f3f3;
  padding: 10px;
  margin-bottom: 30px;
}

.editProfileForm h2{
  margin-bottom: 10px;
}

.editProfileForm  .editProfileInfos p{
  margin-bottom: 10px;
}

.accountSettingsBtnBox{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;

  background: #F3F3F3;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.accountSettingsBtnBox .accountSettingsBtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.accountSettingsBtnBox .accountSettingsBtn button, .accountSettingsBtnBox .accountSettingsBtn input{
  margin: 25px 0px;
  margin-right: 30px;
  height: 50px;
  width: 150px;
  background-color: #111111;
  color: #f3f3f3;
  border: none;
  transition: all 0.2s ease;
}

.accountSettingsBtnBox .accountSettingsBtn button:hover, .accountSettingsBtnBox .accountSettingsBtn input:hover{
  background-color: #252525;
}

.genders{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.genders .gMan , .genders .gWomen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genders .gMan input, .genders .gWomen input{
  width: 100px;
  margin: 0;
  margin-right: 10px;
}

.genders .gMan label, .genders .gWomen label{
  margin: 0;
  margin-right: 30px;
}

.editProfileForm button{
  height: 50px;
  width: 150px;
  background-color: #111111;
  color: #f3f3f3;
  border: none;
  transition: all 0.2s ease;
}

.editProfileForm button:hover{
  background-color: #252525;
}


/* Verify Email - Verifica Email */
.verifyBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.verifyBox .card div{
  margin: 20px 0px;
}

.verifyBox .card-body div, 
.verifyBox .card-body form{
  margin: 20px 0px;
}

.verifyBox button{
  background-color: #111111;
  color: #f3f3f3;
  border: none;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;

  transition: all 0.2s ease;
}

.verifyBox button:hover{
  background-color: #252525;
}

.paginations {
  text-align: center;
  font-size: 16px;
}

@media (min-width: 768px) {
  section {
    padding: 30px 0 50px 0;
  }

  .arrows{
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    fill: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrows svg{
    fill: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 15px;
  }

  .destaque {
    position: relative;
    height: 100vh;
  }

  .circle {
    border: 25px solid #ffffff;
  }

  .title h1 {
    font-size: 40px;
  }

  .newArrivalsInfo, .favProductsInfo{
    display: flex;
    flex-direction: row;
    cursor: grab;
    overflow: auto;
    white-space: nowrap;
    width: calc((100% - 20px*6));
    margin-left: auto;
  }

  .favProducts img{
    margin-right: 20px;
    width: 400px;
    height: 550px;
    flex-shrink: 0;
    object-fit:cover;
    object-position: 50% 50%;
  }

  .categoriasList{
    display: flex;
    flex-direction: row;
    cursor: grab;
    overflow: auto;
    white-space: nowrap;
    width: calc((100% - 20px*6));
    margin-left: auto;
  }

  .paginations form{
    height: 30px;
    margin-bottom: 0;
  }

  .product .productInfo{
    flex-direction: row;
  }

  footer .newslleter p{
    font-size: 18px;
  }

  .orders h1{
    margin-top: 70px;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  .orders .orderList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .orders .orderList .orderBox{
    width: 100%;
    border: 1px solid #111111;
    margin-bottom: 30px;
  }
  
  .orders .orderList .orderBox .orderBoxStats{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    color: #f3f3f3;
  }
  
  .orders .orderList .orderBox .orderBoxStats h3, .orders .orderList .orderBox .orderBoxStats p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin: 30px;
  }
  
  .orders .orderList .orderBox .orderBoxStats p{
    color: #DCD7D3;
  }

  .orders .orderList .orderBox .orderBoxContent{
    height: auto;
  }
  
  .orders .orderList .orderBox .orderBoxContent .orderProds{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px;
  }
  
  .orders .orderList .orderBox .orderBoxContent .orderBoxContentImage{
    margin-right: 30px;
    width: 20%;
    height: 100%;
  }
  
  .orders .orderList .orderBox .orderBoxContent .orderBoxContentImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  .orders .orderList .orderBox .orderBoxContent .orderBoxContentInfo{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .orders .orderList .orderBox .orderBoxContent .orderBoxContentInfo .orderProdInfos{
    display: flex;
    flex-direction: column;
  }
  
  .orders .orderList .orderBox .orderBoxContent .orderBoxContentInfo h3,
  .orders .orderList .orderBox .orderBoxContent .orderBoxContentInfo p{
    margin-bottom: 15px;
  }
  
  .orderBox .orderFooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(222, 217, 214, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    color: #111111;
    text-align: right;
    padding: 10px 30px;
  }
  
  .orderBox .orderFooter .orderFooterInfo p{
    font-size: 16px;
  }
  
  .orderBox .orderFooter .orderFooterInfo h3{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  
  .orderBox .orderFooter .orderFooterBtn{
    width: 15%;
    height: 50px;
  }
  
  .orderBox .orderFooter .orderFooterBtn button{
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #111111;
    color: #f3f3f3;
    border: 1px solid #111111;
    letter-spacing: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .orderBox .orderFooter .orderFooterBtn button:hover{
    border: 1px solid #ED2939;
    background-color: #ED2939;
  }

  .settingsMenu{
    position: fixed;
    height: 50vh;
  }

  .settingsOption h1{
    max-width: 80%;
  }

  .genders{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }

  .editProfileForm button{
    height: 50px;
    width: 200px;
    background-color: #111111;
    color: #f3f3f3;
    border: none;
    transition: all 0.2s ease;
  }

  /* Login */

  .login form input{
    width: 50%;
  }
  
  .login form button{
    width: 50%;
  }

  .login form .rememberMe{
    width: 60%;
  }

  /* Verify Email - Verifica Email */
  .verifyBox button{
    font-size: 18px;
  }

  .paginations {
    text-align: center;
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  section {
    padding: 30px 0 50px 0;
  }

  .navbarPhone{
    display: none;
  }

  .navBG{
    display: block;
    position: fixed;
    width: 100%;
    background-color: #f3f3f3;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 99;
  }

  .navBG-Black{
    background-color: #111111;
  }

  .nav {
    display: flex;
    font-family: "Anton", sans-serif;
    height: 95px;
    padding-top: 30px;
    justify-content: space-between;
  }

  .nav .logo img {
    width: 65px;
    height: 65px;
  }

  .nav .logo img:hover {
    cursor: pointer;
  }

  .nav ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav ul li {
    font-weight: 400;
    padding-right: 30px;
  }
  
  .nav a {
    text-decoration: none;
    color: #111111;
  }

  .nav .searchMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav .searchMenu .searchIcon{
    cursor: pointer;
  }

  .nav .searchMenu form{
    margin-right: 15px;
  }

  .searchInput{
    display: none;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: #111111;
    color: #f3f3f3;
  }

  .searchInput-white{
    background-color: #f3f3f3;
    color: #111111;
  }
  
  .nav svg {
    fill: #111111;
  }
  
  .nav svg:hover {
    cursor: pointer;
  }

  .avatar{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 30px;
  }

  .avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .AccountMenu img{
    cursor: pointer;
  }

  .myAccountMenu-white{
    background-color: #111111 !important;
  }

  .myAccountMenu-white h2{
    color: #f3f3f3 !important;
  }

  .myAccountMenu-white a{
    color: #f3f3f3 !important;
  }

  .myAccountMenu{
    background-color: #f3f3f3;
    margin-top: 1vh;
    position: absolute;
    padding: .5vh;
    border-radius: 10px;
  }

  .myAccountMenu h2{
    text-align: center;
    color: #111111;
  }

  .myAccountMenu ul{
    display: flex;
    flex-direction: column;
  }

  .myAccountMenu ul li{
    margin-top: .5vh;
    padding-left: 30px;
  }

  .myAccountMenu ul li a{
    color: #111111;
  }

  .circle {
    width: 70vh;
    height: 70vh;
  }

  .destaqueImg {
    width: 70vh;
  }

  .title h1 {
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .newArrivalsInfo, .favProductsInfo{
    width: calc((100% - 20px*4));
  }

  .categoriasList{
    width: calc((100% - 20px*4));
  }

  .prodImgs img{
    margin-right: 20px;
    margin-bottom: 20px;
    width: 45%;
  }

  .editProfile{
    padding-top: 15vh;
    display: flex;
    flex-direction: row;
  }

  /* Login */
  .loginExtraOp{
    flex-direction: row;
    align-items: flex-end;
    width: 50%;
  }

  .registerExtraOp{
    flex-direction: row;
    align-items: flex-end;
    width: 50%;
  }
}

@media (min-width: 1440px) {
  section {
    padding: 30px 0 50px 0;
  }

  .title h1 {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .newArrivalsInfo, .favProductsInfo{
    width: calc((100% - 20px*12));
  }

  .categoriasList{
    width: calc((100% - 20px*12));
  }

  .brands img{
    width: 100%;
    height: 15vh;
    object-fit: contain;
    object-position: 50% 50%;
    cursor: pointer;
  
    margin-right: 17vh;
  }
}