* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 5px;
  background-color: #f3f3f3;
}

h1, p, h2, h3, h4, h5, h6, a, textarea, option{
  letter-spacing: 5px;
}

section {
  display: flex;
  background-color: #f3f3f3;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 10px 0 50px 0;
  overflow: hidden;
}

.flexLeft {
  display: flex;
  justify-content: flex-start;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.flexRight {
  display: flex;
  justify-content: flex-end;
}

button{
  cursor: pointer;
}

svg {
  height: 1.5em;
}

.active{
  text-decoration: underline;
  text-underline-offset: 10px;
}

#sectionHome{
  background-color: #111111;
}

#sectionSupport{
  height: 70vh;
}

#sectionFooter{
  position: relative;
  background-color: #111111;
  height: 30vh;
  z-index: 100;
}

.arrows{
  display: none;
}

/* .navBG{
  width: 100%;
  background-color: #f3f3f3;
} */

.nav{
  display: none;
  text-transform: uppercase;
}

.navBlack{
  display: none;
}

.navBlack a{
  color: #ffffff !important;
}

.navBlack svg{
  fill: #ffffff !important;
}

.destaque {
  position: relative;
  height: 100vh;
}

.circle {
  position: absolute;
  width: 70vw;
  height: 70vw;
  border: 15px solid #ffffff; /* Define uma linha de contorno ao redor do círculo */
  border-radius: 50%; /* Torna o elemento um círculo */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(1.5px);
  z-index: 1;
}

.circle::before,
.circle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.circle::before {
  box-shadow: 0 0 25px 25px #f1f5fe; /* Brilho para fora */
}

.circle::after {
  box-shadow: 0 0 25px 5px #f1f5fe inset; /* Brilho para dentro */
}

.destaqueImg {
  width: 70vw;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.destaqueImg::before,
.destaqueImg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.socials {
  height: 5vh;
  fill: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.socials svg {
  margin-left: 30px;
}

.title{
  padding-top: 125px;
  color: #111111;
  padding-bottom: 25px;
}

.title h1 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.content{
  height: 100%;
}

.brands{
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 60vh;
  overflow: hidden;
}

.brands img{
  width: 5vw;
  object-fit: contain;
  object-position: 50% 50%;
  margin: 10px 10px;
  cursor: pointer;
}

.newArrivalsInfo{
  display: flex;
  flex-direction: row;
  cursor: grab;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

.newArrivalsInfo::-webkit-scrollbar {
  display: none;
}

.newArrivals img{
  margin-right: 20px;
  height: 65vh;
  flex-shrink: 0;
  object-fit:cover;
  object-position: 50% 50%;
}

.paginations select{
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  border: 1px solid #111111;
  color: #111111;
}

.paginations select:focus{
  background-color: #111111;
  border: 1px solid #f3f3f3;
  color: #f3f3f3;
}

.filters{
  text-transform: uppercase;
  margin-bottom: 20px;
}

.products{
  padding-top: 150px;
}

.categorias{
  width: 100%;
  height: 10vh;
  margin-bottom: 50px;
}

.categoriasList{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  cursor: grab;
  overflow: auto;
  white-space: nowrap;
}

.categoriasList::-webkit-scrollbar {
  display: none;
}

.categoriasList p{
  color: #f3f3f3;
  font-size: 48px;
  margin-right: 50px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #111111;
  user-select: none;
}

.product{
  margin-bottom: 30px;
}

.product img{
  width: 100%;
}

.product .productInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product .productInfo h3{
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.content form{
  display: flex;
  flex-direction: column;
}

.content form input{
  padding: 10px;
  height: 5vh;
  margin-bottom: 3vh;
}

.content form textarea{
  padding: 10px;
  height: 20vh;
  margin-bottom: 3vh;
  resize: none;
}

.content form button{
  padding: 10px;
  height: 5vh;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #111;
  border: 1px solid #f3f3f3;
  color: #f3f3f3;
}

.content form input::placeholder, .content form textarea::placeholder{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.arrowsWhite{
  display: none;
}

.arrowsWhite svg{
  fill: #f3f3f3 !important;
}

footer{
  color: #f3f3f3;
  height: 100%;
}

footer span{
  text-decoration: underline;
  cursor: pointer;
}

footer img{
  width: 65px;
  height: 65px;
  object-fit: cover;
  object-position: 50% 50%;
}

footer .newslleter{
  width: 100%;
  height: 15vh;
  font-weight: bold;
}

footer .newslleter p{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

footer form{
  display: flex;
  flex-direction: row;
}

footer form input, footer form button{
  border: 1px solid #f3f3f3;
  height: 3.5vh;
  font-size: 12px;
}

footer form input{
  padding-left: 10px;
  color: #f3f3f3;
  background-color: #111111;
  width: 70%;
}

footer form input::placeholder{
  color: #f3f3f3;
  font-weight: bold;
}

footer form button{
  width: 30%;
  text-align: center;
  background-color: #f3f3f3;
  font-weight: bold;
}

footer .socials{
  height: 5vh;
  margin-bottom: 4vh;
}

footer .copyright{
  height: 5vh;
  font-size: 12;
  text-align: center;
}

footer .copyright p{
  margin-top: 5px;
}

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form h1{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 60px;
}

.login form label{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}

.login form input{
  width: 50%;
  height: 50px;
  margin-bottom: 35px;	
  padding: 10px;
}

.login form button{
  width: 50%;
  height: 75px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  background-color: #111111;
  color: #f3f3f3;
  border: none;
  margin-bottom: 30px;
  letter-spacing: 5px;
}

.login form .goToSignup{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.login form .goToSignup p{
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  opacity: 70%;
}

.login form .goToSignup a{
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
  color: #111111;
  cursor: pointer;
}

.login form .rememberMe{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
}

.login form .rememberMe input{
  width: 20%;
  height: 30px;
}

.login form .rememberMe label{
  width: 80%;
  font-size: 16px;
  margin-bottom: 30px;
}

.loginExtraOp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
}

.registerExtraOp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
}

.registerExtraOp p{
  width: 70%;
}

.registerExtraOp svg{
  fill: #111111;
}

@media (min-width: 768px) {
  section {
    padding: 30px 0 50px 0;
  }

  .arrows{
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    fill: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrows svg{
    fill: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 15px;
  }

  .destaque {
    position: relative;
    height: 100vh;
  }

  .circle {
    border: 25px solid #ffffff;
  }

  .brands img{
    width: 10vw;
    justify-content: center;
  
    object-fit: contain;
    object-position: 50% 50%;
  }

  .title h1 {
    font-size: 64px;
  }

  .newArrivalsInfo{
    display: flex;
    flex-direction: row;
    cursor: grab;
    overflow: auto;
    white-space: nowrap;
    width: calc((100% - 20px*6));
    margin-left: auto;
  }

  .categoriasList{
    display: flex;
    flex-direction: row;
    cursor: grab;
    overflow: auto;
    white-space: nowrap;
    width: calc((100% - 20px*6));
    margin-left: auto;
  }

  .paginations select{
    height: 30px;
    margin-bottom: 0;
  }

  .product .productInfo{
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  section {
    padding: 30px 0 50px 0;
  }

  .navBG{
    position: fixed;
    width: 100%;
    background-color: #f3f3f3;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 99;
  }

  .navBG-Black{
    background-color: #111111;
  }

  .nav {
    display: flex;
    font-family: "Anton", sans-serif;
    height: 95px;
    padding-top: 30px;
    justify-content: space-between;
  }

  .nav .logo img {
    width: 65px;
    height: 65px;
  }

  .nav .logo img:hover {
    cursor: pointer;
  }

  .nav ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav ul li {
    font-weight: 400;
    margin-right: 30px;
  }
  
  .nav a {
    text-decoration: none;
    color: #111111;
  }

  .nav .searchMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .nav svg {
    fill: #111111;
  }
  
  .nav svg:hover {
    cursor: pointer;
  }

  .circle {
    width: 70vh;
    height: 70vh;
  }

  .destaqueImg {
    width: 70vh;
  }

  .brands img{
    width: 7vw;
    justify-content: center;
  
    object-fit: contain;
    object-position: 50% 50%;
  }

  .newArrivalsInfo{
    width: calc((100% - 20px*4));
  }

  .categoriasList{
    width: calc((100% - 20px*4));
  }
}

@media (min-width: 1440px) {
  section {
    padding: 30px 0 50px 0;
  }

  .brands img{
    width: 5vw;
    justify-content: center;
  
    object-fit: contain;
    object-position: 50% 50%;
  }

  .newArrivalsInfo{
    width: calc((100% - 20px*12));
  }

  .categoriasList{
    width: calc((100% - 20px*12));
  }
}